{%  extends "base_bootstrap.html" %}

{% block title %}
Edit
{% endblock %}

{% block content %}
    <h1>Neue Nachricht</h1>
    <form method="post">
    <!--Weil hier als method Post angegeben ist, weis Django dass wenn die Form verlassen wird ein Post Request 
    an die seite geschickt wird von der die Form aufgerufen wurde-->
        
    {% csrf_token %}
        <!-- Mit diesem Tag wird die Form mit einem csfr token versehen der aus der Anfrage geneert wird und 
         zum Validieren der Post request verwendet wird--> immer immer immer angeben !!!!! --> 
        
        {{ form.as_p }}
        <!-- damit werden alle Felder entsprechend initialisiert und gerendert wie sie in der Klasse beschrieben sind-->
        
        <input class="btn btn-primary"
               type="submit"
               value="Speichern">
    </form>
{% endblock %}