{% extends "base_bootstrap.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    	<!--
    	    in der base-html steht der content block im body tag 
    	    deshalb landet alles, was ich hier im content block schreib auch im body der html
    	-->
    <!--Die Klasse jumbotron ist in Bootstrap enthalten und sorgt einfach für ein gewisses Styling-->
    <div class="jumbotron">
        <h1 class="display-4"> News </h1>
    </div>

    <!--Hier werden alle notices durchlaufen und entsprechend angezeigt -->
    {% for notice in notices %}
    
        <h3>{{ notice.notice_title }}</h3>
        <p>{{ notice.notice_text }}</p>
        
    {% endfor %}


{% endblock %}