{% extends "base_bootstrap.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    	<!--
    	    in der base-html steht der content block im body tag 
    	    deshalb landet alles, was ich hier im content block schreib auch im body der html
    	-->
    <!--Die Klasse jumbotron ist in Bootstrap enthalten und sorgt einfach für ein gewisses Styling-->
    <div class="jumbotron">
        <h1 class="display-4"> News </h1>
    </div>

    <!--Hier werden alle notices durchlaufen und entsprechend angezeigt -->
    {% for notice in notices %}
    
        <h3>{{ notice.notice_title }}</h3>
        <p>{{ notice.notice_text }}</p>
        
        <p> 
        <!-- hier wir für jeden "Medlung Löschen" button eine href generiert, welche die angegebene URL zusammenbaut-->
            <a href="{% url 'delete' delete_id=notice.id %}"
               
               class="btn btn-danger">
                Meldung löschen
            </a>
        
        </p>
        
    {% endfor %}
    
    <!-- Button mit Bootstrap parameter für Styling erzeugen-->
    <p><a href="{% url 'new' %}" class="btn btn-secondary btn-lg" role="button">Neue Nachricht</a></p>
    <!-- mit dem href verweist man auf eine url die in den urls.py hinterlegt ist 
    -> hier spielt der name eine rolle -->
    
    <!-- So würde man mit reinem HTML ein Formular erzeugen 
    <form action="/new" method="post">
        Vorname:<br>
        <input type="text" name="firstname" value="Hans">
        <br>
        Nachname:<br>
        <input type="text" name="firstname" value="Musterman">
        <br>
        <br>
        <input type="submit" value="Speichern">
    </form>
    -->


{% endblock %}