{% extends "base_bootstrap.html" %}

<!--Der Titel ist der Name des Tabs im Browser-->
{% block title %}
    Index
{% endblock %}

{% block content %}
    <!--
    In der Eltern-html steht der content Block im body tag, daher landet alles, was ich hier im content block 
    steht im body der html.
    -->
    
    <!--Die Klasse jumbotron ist in Bootstrap enthalten und sorgt einfach für ein gewisses Styling-->
    <div class="jumbotron">
        <h1 class="display-4"> News </h1>
    </div>

    <!--Hier werden alle notices durchlaufen und entsprechend angezeigt -->
    {% for notice in notices %}
    
        <h3>{{ notice.notice_title }}</h3>
        <p>{{ notice.notice_text }}</p>
        <p style=" font-size: 12px; font-family: cursive">Nachrichten Id: {{ notice.id }}</p>
        <p style=" font-size: 12px; font-family: cursive">Nachricht erstellt von User: {{user}}, Id: {{user.id}}</p>
        
        <!-- das User Object wird immer von Django an die Views weitergegeben, ohne dass es angegeben werden muss-->
        {% if user.is_staff or user.id == notice.id %}
            <p> 
            <!-- 
            Mit einem href kann eine url dynamisch generiert werden. 
            Dabei muss der name der URL angegeben werden, sowie er in der urls.py definiert ist. 
            Weitere Variablen können mit Leerzeichen getrennt ebenso angefügt werden.
            Diese weiteren Variablen sind in der urls.py in <> definiert und müssen an diesen namen zugewiesen werden!
            -->
                <a href="{% url 'delete' delete_id=notice.id %}"
                   
                   class="btn btn-danger">
                    Meldung löschen
                </a>
            </p>
        {% endif %}
    {% endfor %}
    
    {% if user.is_authenticated %}
        <!-- Button mit Bootstrap parameter für Styling erzeugen-->
        <p>
            <a href="{% url 'new' %}" 
               class="btn btn-secondary btn-lg" 
               role="button">Neue Nachricht</a>
        </p>
    {% endif %}
    
    <!-- So würde man mit reinem HTML ein Formular erzeugen 
    <form action="/new" method="post">
        Vorname:<br>
        <input type="text" name="firstname" value="Hans">
        <br>
        Nachname:<br>
        <input type="text" name="firstname" value="Musterman">
        <br>
        <br>
        <input type="submit" value="Speichern">
    </form>
    -->



    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-primary">Abmelden</a>
    {%  endif %}
    
    {% block login %} 
        <!-- Der Login Block ist im Django-Template für Accounts hinterlegt und ist umhüllt mit speziellen Funktionen-->
        {% if user.is_anonymous %}
            <!--Eine href kann auch direkt mit einem Eventobjekt wie einen Button verknüpft werden-->
            <a href="{% url 'login' %}" class="btn btn-primary">Anmelden</a>
        {%  endif %}
    
    {% endblock %}
    

{% endblock %}

