<!--
Das hier ist die HTML beschreibung einer Seite.
Sie wird mit DOCTYPE geschrieben, das ist eine erweiterung von basic HTML.

Beim render aufruf von dieser Seite wurde ein context mit übergeben.
Über diesen context kann auf die dict Variable now zugegriffen werden.

forloop.counter -> ist eine inbuilt func von Django Doctype
divisableby:X -> stellt modulo operator nach weil % schon reserviert ist
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1>
    Index der Demo Applikation ohne Vererbung
</h1>
<p>
    Uhrzeit: {{ now }}
</p>


{% if time.tm_hour < 12 %}
    <p>Guten Morgen!</p>
{%  elif time.tm_hour < 18 %}
    <p>Guten Tag!</p>
{%  else %}
    <p>Guten Abend!</p>
{% endif %}

{% for value in list %}
    {%  if forloop.counter|divisibleby:2 == 0 %}
        <p> {{ value }}</p>
    {% endif %}
{% endfor %}

</body>
</html>